<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zkml.terminal.service.selfterminal.dao.SelfTerminalMoldMapper">
  <resultMap id="BaseResultMap" type="com.zkml.terminal.service.selfterminal.model.SelfTerminalMold">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="sn" jdbcType="VARCHAR" property="sn" />
    <result column="type" jdbcType="VARCHAR" property="type" />
  </resultMap>
  <select id="selectBySn" parameterType="string" resultMap="BaseResultMap">
    select type
    from self_terminal_mold
    where sn = #{sn,jdbcType=VARCHAR}
  </select>
</mapper>